In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

from IPython.display import SVG

from sklearn.metrics import r2_score


#from keras.utils.vis_utils import model_to_dot
#from keras.utils import plot_model
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly import tools
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot


from IPython.display import Image
import glob
import cv2
import random


from keras.models import Sequential
from keras.layers import Conv2D,MaxPooling2D,Dense,Flatten,Dropout
from keras.optimizers import Adam
import tensorflow

import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Conv2D, MaxPooling2D, Flatten, Dense, Dropout
from tensorflow.keras.applications import ResNet50
# https://blog.roboflow.com/what-is-resnet-50/

input_shape = (128, 128, 3)  # Example input shape for an RGB image
inputs = Input(shape=input_shape)

In [4]:

csv_files = glob.glob('files/*.csv');
df_list = [pd.read_csv(file) for file in csv_files]

combined_df = pd.concat(df_list, ignore_index=True)

combined_df

,Unnamed: 0,p_0,p_1,p_2,p_3,p_4,p_5,p_6,p_7,p_8,...,p_49144,p_49145,p_49146,p_49147,p_49148,p_49149,p_49150,p_49151,Gender,Age
0,0,13,16,14,11,14,12,10,13,11,...,0,0,0,0,0,0,0,0,1,100
1,1,130,145,137,174,189,181,206,217,214,...,198,198,198,198,198,194,194,194,1,100
2,2,43,76,102,41,74,100,46,79,105,...,47,64,21,43,55,33,52,60,0,10
3,3,53,47,40,63,57,50,76,70,63,...,107,8,142,102,0,136,96,0,0,10
4,4,57,84,135,40,65,115,45,62,113,...,49,81,53,50,82,53,50,82,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,495,100,99,101,100,99,101,100,97,99,...,214,224,203,214,222,216,227,235,0,9
4996,496,0,16,39,0,18,41,4,21,42,...,201,236,117,199,234,117,199,234,0,9
4997,497,146,155,168,138,147,160,125,135,152,...,26,32,40,26,30,40,26,30,0,9
4998,498,61,214,221,73,221,227,81,218,226,...,112,147,109,111,142,109,109,139,1,9
4999,499,16,22,35,9,16,31,6,14,31,...,98,129,75,102,136,71,99,134,1,9

In [7]:
combined_df = combined_df.drop(columns = ['Unnamed: 0'])
combined_df

,p_0,p_1,p_2,p_3,p_4,p_5,p_6,p_7,p_8,p_9,...,p_49144,p_49145,p_49146,p_49147,p_49148,p_49149,p_49150,p_49151,Gender,Age
0,13,16,14,11,14,12,10,13,11,12,...,0,0,0,0,0,0,0,0,1,100
1,130,145,137,174,189,181,206,217,214,210,...,198,198,198,198,198,194,194,194,1,100
2,43,76,102,41,74,100,46,79,105,42,...,47,64,21,43,55,33,52,60,0,10
3,53,47,40,63,57,50,76,70,63,86,...,107,8,142,102,0,136,96,0,0,10
4,57,84,135,40,65,115,45,62,113,59,...,49,81,53,50,82,53,50,82,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,100,99,101,100,99,101,100,97,99,94,...,214,224,203,214,222,216,227,235,0,9
4996,0,16,39,0,18,41,4,21,42,4,...,201,236,117,199,234,117,199,234,0,9
4997,146,155,168,138,147,160,125,135,152,111,...,26,32,40,26,30,40,26,30,0,9
4998,61,214,221,73,221,227,81,218,226,85,...,112,147,109,111,142,109,109,139,1,9
4999,16,22,35,9,16,31,6,14,31,7,...,98,129,75,102,136,71,99,134,1,9

In [8]:
combined_df.to_csv('combined_df.csv')

In [9]:
df = combined_df
df.head(2)

,p_0,p_1,p_2,p_3,p_4,p_5,p_6,p_7,p_8,p_9,...,p_49144,p_49145,p_49146,p_49147,p_49148,p_49149,p_49150,p_49151,Gender,Age
0,13,16,14,11,14,12,10,13,11,12,...,0,0,0,0,0,0,0,0,1,100
1,130,145,137,174,189,181,206,217,214,210,...,198,198,198,198,198,194,194,194,1,100

1. Define a model-building function that takes hyperparameters as an argument.
2. Set up the tuner using Hyperband, RandomSearch, or BayesianOptimization.
3. Run the tuner to find the best hyperparameters.